#navBar > ul {
    height: auto !important;
    line-height: 1.5 !important;
    padding: 0;
}

#navBar > ul > li > span > i[class*="fi-rr-"]::before {
    display: inline !important;
}

#navBar ul {
    list-style-type: none;
    overflow-y: hidden;
    line-height: 0;
    transition: all .5s ease-in-out;
    width: max-content;
}

#navBar ul {
    list-style-type: none;
    overflow-y: hidden;
    line-height: 0;
    transition: all .5s ease-in-out;
    width: max-content;
}

#navBar ul i[class*="fi-rr-"]::before {
    line-height: 0;
    display: none;
}

#navBar .menuText.category {
    cursor: pointer;
}

#navBar .active + ul {
    line-height: 1.5 !important;
}

#navBar .active + ul > li > span i[class*="fi-rr-"]::before {
    display: inline;
}

#navBar span.active {
    font-weight: bold;
}

#navBar span.current {
    font-weight: bold;
    text-decoration: underline;
}

#navBar span.current:before {
    content: "\00BB ";
}

#navBar a {
    color: var(--bs-body-color);
}

nav.nav.active {
    max-width: 30px;
    overflow-x: hidden;
}

nav.nav .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

nav.nav .header h6 {
    width: 100%;
    transition: all .5s ease-in-out;
}

nav.nav.active .header h6 {
    width: 0;
    overflow: hidden;
}

nav.nav .header ~ div {
    transition: all .5s ease-in-out;
    overflow: scroll;
    width: 100%;
}

nav.nav.active .header ~ div {
    overflow: hidden;
    width: 0;
}

main.setting {
    margin: 0 auto;
    padding: 5px;
    color: var(--main-text-color);
}

main.setting iframe {
    width: 100%;
    height: 100%;
    background: #aaaaaa;
}

nav.nav {
    padding: 5px;
    background: var(--nav-elements-bg);
    transition: all .5s ease-in-out;
}

#react {
    background: var(--body-bg);
}

@media screen and (min-width: 480px) {
    nav.nav {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        border-right: 1px solid var(--nav-border-line-color);
        max-width: 20vw;
        width: max-content;
    }

    #react {
        display: flex;
        background: var(--body-bg);
        min-height: calc(95vh - 50px);
    }

    main.setting {
        width: 50vw;
    }
}

@media screen and (max-width: 480px) {
    #themeClock {
        display: none;
    }

    #quickAccessMenu {
        max-width: max-content;
    }

    #themeHeader {
        height: max-content;
    }

    nav.nav .header {
        display: none;
    }
}