#adminQuickNavigation .dropdown-menu {
    width: 200%;
}

#adminQuickNavigation .dropdown-item {
    overflow-x: hidden;
}

#adminQuickNavigation .dropdown-item .name {
    font-weight: bold;
}

#adminQuickNavigation .dropdown-item .keywords {
    font-style: italic;
    color: var(--bs-secondary-color);
}

#adminQuickNavigation .dropdown-item.selected {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}