<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:dynamicassets="http://rarogsoftware.eu/schemas/dynamicassets.xsd"
      th:lang="${#locale.language}" th:xmllang="${#locale.language}" data-bs-theme="dark">
<head>
    <th:block th:insert="~{/genericFragments.html::headblock}"/>
    <title th:if="${title}!=null" th:text="${title}"></title>
    <th:block th:if="${theme}!=null">
        <th:block th:insert="~{${theme}::headblock}"/>
    </th:block>
    <th:block th:if="${theme}==null">
        <th:block th:insert="~{theme/genericpage.html::headblock}"/>
    </th:block>
    <dynamicassets:loadcss entrypoint="${reactEntrypointName}"/>
</head>
<body>
<div class="body">
    <!-- theme header -->
    <th:block th:if="${theme}!=null">
        <th:block th:insert="~{${theme}::header}"/>
    </th:block>
    <th:block th:if="${theme}==null">
        <th:block th:insert="~{theme/genericpage.html::header}"/>
    </th:block>

    <!-- react app container -->
    <div class="content">
        <div id="react"></div>
    </div>

    <!-- theme footer -->
    <th:block th:if="${theme}!=null">
        <th:block th:insert="~{${theme}::footer}"/>
    </th:block>
    <th:block th:if="${theme}==null">
        <th:block th:insert="~{theme/genericpage.html::footer}"/>
    </th:block>

    <!-- react app JS -->
    <dynamicassets:loadjs entrypoint="${reactEntrypointName}"/>
</div>
</body>
</html>
