@media all and (min-width: 480px) {
    .loading {
        padding: 60px 0;
    }

    .loading .info img{
        max-width: 200px;
    }

    .loading .info {
        margin: 0 auto;
        max-width: 320px;
    }
}
