@media all and (min-width: 480px) {
    .nav {
        min-width: 150px;
        margin-right: 5px;
        flex: 0 0 fit-content;
    }

    .setting {
        border-left: #f0f0f0 solid 1px;
        padding: 15px;
        flex: 1;
    }

    .sectionHeader {
        border-bottom: #aaaaaa solid 1px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .contentHeader {
        float: top;
    }

    .content {
        width: 66vw;
        padding: 0;
    }

    #react {
        width: 66vw;
        padding: 25px;
        display: flex;
    }
}

@media all and (max-width: 480px) {
    .nav {
        margin-bottom: 5px;
    }

    .setting {
        border-top: #f0f0f0 solid 1px;
        padding: 5px;
        width: 100%;
    }

    .content {
        margin: 0 0;
        padding: 25px;
    }
}