<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:dynamicassets="http://rarogsoftware.eu/schemas/dynamicassets.xsd"
      th:lang="${#locale.language}" th:xmllang="${#locale.language}">
<head>
    <th:block th:insert="~{/genericFragments.html::headblock}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Text from model:<span th:text="${test}"></span></p>
<p>Translated text:<span th:text="#{backdoor:test.translate.key}"></span></p>
<dynamicassets:loadjs entrypoint="eu.rarogsoftware.rarog.platform.plugins:func-test-plugin|test|test"/>
</body>
</html>