.methodsList {
    padding: 0;
}

.methodsList .method {
    display: block;
}

.methodsList .method a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.methodsList .method img {
    width: 50px;
    margin-right: 10px;
    margin-top: 0.05rem;
}

.methodsList .method .title {
    font-size: 1rem;
    font-weight: bold;
}

.methodsList .method a:hover .title {
    text-decoration: underline;
}

.methodsList .method a:hover {
    background: #f0f0f0;
    border-radius: 10px;
}