<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="headblock">
    <link th:href="@{/static/icons/webfonts/uicons-regular-rounded.css}" rel="stylesheet">
    <link th:href="@{/static/theme/default/admin.css}" rel="stylesheet"/>
    <dynamicassets:loadcss entrypoint="theme/default"/>
    <dynamicassets:loadjs entrypoint="theme/default"/>
    <dynamicassets:loadcss entrypoint="theme/default/admin/quickAccessMenu"/>
    <dynamicassets:loadjs entrypoint="theme/default/admin/quickAccessMenu"/>
    <meta name="user-name" th:content="${loggedUserName}">
    <meta name="user-avatar" th:content="${loggedUserAvatar}" th:if="${loggedUserAvatar}">
</head>
<body>
<header th:fragment="header" id="themeHeader">
    <div id="themeClock"></div>
    <div class="search" id="adminQuickNavigation"></div>
    <th:block th:insert="~{/theme/genericpage.html::themeselector}"/>
    <div></div>
    <div id="quickAccessMenu"></div>
</header>

<footer th:fragment="footer" id="themeFooter">
    <div class="copyright" th:text="#{common:copyright.note}"></div>
</footer>
</body>
</html>
