<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="headblock">
    <link th:href="@{/static/icons/webfonts/uicons-regular-rounded.css}" rel="stylesheet">
    <link th:href="@{/static/theme/default/generic.css}" rel="stylesheet"/>
    <dynamicassets:loadjs entrypoint="theme/default"/>
</head>
<body>
<header th:fragment="header" id="themeHeader">
    <div class="logout"><a th:href="@{/logout}" th:text="#{logout.title}"></a></div>
    <div class="logo" th:fragment="themeselector">Rarog
        <div class="dropdown themeSelector" style="display: inline-block">
            <button class="btn dropdown-toggle" id="bd-theme" th:title="#{common:theme.switcher.button}" type="button"
                    data-bs-toggle="dropdown"
                    data-bs-display="static">
                <span class="bi my-1 theme-icon-active"><i class="fi-rr-moon-stars "></i></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme" data-bs-popper="static">
                <li>
                    <button type="button" class="dropdown-item" th:title="#{common:theme.switcher.light}"
                            data-bs-theme-value="light">
                        <span class="icon"><i class="fi-rr-sun"></i></span>
                        <i class="bi d-none fi-rr-check"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item" th:title="#{common:theme.switcher.dark}"
                            data-bs-theme-value="dark">
                        <span class="icon"><i class="fi-rr-moon-stars"></i></span>
                        <i class="bi d-none fi-rr-check"></i>
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item" th:title="#{common:theme.switcher.auto}"
                            data-bs-theme-value="auto">
                        <span class="icon"><i class="fi-rr-circle"></i></span>
                        <i class="bi d-none fi-rr-check"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div id="themeClock"></div>
</header>

<footer th:fragment="footer" id="themeFooter">
    <div class="copyright" th:text="#{common:copyright.note}"></div>
</footer>
</body>
</html>
