<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="headblock">
    <link th:href="@{/static/icons/webfonts/uicons-regular-rounded.css}" rel="stylesheet">
    <link th:href="@{/static/theme/default/generic.css}" rel="stylesheet"/>
    <dynamicassets:loadcss entrypoint="theme/default"/>
    <dynamicassets:loadjs entrypoint="theme/default"/>
</head>
<body>
<header th:fragment="header" id="themeHeader">
    <div></div>
    <th:block th:insert="~{/theme/genericpage.html::themeselector}"/>
    <div></div>
</header>

<footer th:fragment="footer" id="themeFooter">
    <div class="copyright" th:text="#{common:copyright.note}"></div>
</footer>
</body>
</html>