@import "colorMode.css";

@media all {
    body {
        background: var(--body-bg);
        color: var(--main-text-color);
    }

    #themeHeader {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        min-height: 50px;
        height: 5vh;
        border-bottom: 1px solid var(--nav-border-line-color);
        background: var(--nav-elements-bg);
    }

    #quickAccessMenu {
        min-width: 10vw;
        max-width: calc(50vw - 50px);
        display: flex;
        justify-content: right;
    }

    #quickAccessMenu * {
        margin: auto 2px;
    }

    #adminQuickNavigation .input-group {
        margin: 0;
    }

    .body {
        min-height: 100vh;
        position: relative;
        padding-bottom: 50px;
    }

    .content {
        background: var(--content-element-bg);
        width: 100%;
    }

    #themeFooter {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        border-top: 1px solid var(--nav-border-line-color);
        background: var(--nav-elements-bg);
    }

    #themeFooter > .copyright {
        text-align: center;
    }

    .themeSelector .dropdown-menu .active .bi {
        display: inline-block !important;
    }

    .themeSelector .dropdown-menu {
        --bs-dropdown-min-width: 0 !important;
    }

    .themeSelector > .btn {
        color: var(--main-text-color);
    }
}
