:root, [data-bs-theme="light"] {
    --nav-elements-bg: #f9f9f9;
    --content-element-bg: #f3f3f3;
    --body-bg: #f3f3f3;
    --nav-border-line-color: #000000;
    --main-text-color: #000;
}

[data-bs-theme="dark"] {
    --nav-elements-bg: #343a40;
    --content-element-bg: #343a40;
    --body-bg: #212529;
    --nav-border-line-color: #888;
    --main-text-color: #fff;
}