@import "colorMode.css";

@media all {
    body {
        background: var(--body-bg);
        color: var(--main-text-color);
    }

    #themeHeader {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        min-height: 50px;
        height: 10vh;
        border-bottom: 1px solid var(--nav-border-line-color);
        background: var(--nav-elements-bg);
    }

    .body {
        min-height: 100vh;
        position: relative;
        padding-bottom: 50px;
    }

    .content {
        background: var(--content-element-bg);
    }

    #themeFooter {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        border-top: 1px solid var(--nav-border-line-color);
        background: var(--nav-elements-bg);
    }

    #themeFooter > .copyright {
        text-align: center;
    }

    .themeSelector .dropdown-menu .active .bi {
        display: inline-block !important;
    }

    .themeSelector .dropdown-menu {
        --bs-dropdown-min-width: 0 !important;
    }

    .themeSelector > .btn {
        color: var(--main-text-color);
    }
}

@media all and (min-width: 480px) {
    .content {
        margin: 20px auto;
        width: 50vw;
        border: 1px solid var(--nav-border-line-color);
        border-radius: 15px;
        padding: 25px;
    }
}

@media all and (max-width: 480px) {
    .content {
        margin: 0 0;
        padding: 25px;
    }
}
