<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:lang="${#locale.language}" th:xmllang="${#locale.language}">
<head lang="en">
    <th:block th:insert="~{/genericFragments.html::headblock}"/>
    <title th:text="#{common:about.page.title}"></title>
    <script type="application/javascript">
        function toggle(documentId) {
            const x = document.getElementById(documentId);
            if (x.classList.contains('hidden')) {
                x.classList.remove('hidden');
            } else {
                x.classList.add('hidden');
            }
        }
    </script>
    <style>
        .clickable:hover {
            text-decoration: underline;
        }

        .clickable {
            cursor: pointer;
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body>

<main>
    <section>
        <h2>Software available on Apache-2.0 licence</h2>
        <h3>Copyright 2022-202X Paweł Przytarski</h3>

        <p>Licensed under the Apache License, Version 2.0 (the "License");
            you may not use this file except in compliance with the License.
            You may obtain a copy of the License at<br/>

            <a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a><br/>

            Unless required by applicable law or agreed to in writing, software
            distributed under the License is distributed on an "AS IS" BASIS,
            WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
            See the License for the specific language governing permissions and
            limitations under the License.</p>
    </section>
    <section>
        <h2 class="clickable" onclick="toggle('backend')">Libraries used by application server</h2>
        <pre id="backend" class="closeable hidden" th:if="${third_party_backend}!=null"
             th:text="${third_party_backend}"></pre>
    </section>
    <section>
        <h2 class="clickable" onclick="toggle('frontend')">Libraries used by application frontend scripts</h2>
        <pre id="frontend" class="closeable hidden" th:if="${frontend_disclaimer}!=null"
             th:text="${frontend_disclaimer}"></pre>
    </section>
    <section>
        <h2 class="clickable" onclick="toggle('assets')">3rd party assets used by application</h2>
        <ul id="assets" class="closeable hidden">
            <li><a href="https://www.flaticon.com/authors/freepik" title="key icons">Icons created by Freepik -
                Flaticon</a></li>
            <li>Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a></li>
        </ul>
    </section>
</main>
</body>
</html>