<!DOCTYPE>
<html th:lang="${#locale.language}" th:xmllang="${#locale.language}">
<head>
  <th:block th:insert="~{/genericFragments.html::headblock}"/>
  <title th:text="#{core-admin:login.logged.out}"></title>
</head>
<body>
<p th:text="#{core-admin:login.logged.out}"></p>
</body>
</html>